version: '2'

services:

    dns:
      ports:
      # configure only external ports
        - "80:80"
        - "81:81"
        - "82:82"

    mesh:
      ports:
        - "9001"
        - "9002"
        - "9003"
      # configure only external port, Linkerd admin is exposed by this port 9990
        - "9990:9990"

    service_discovery:
      ports:
        - "4321"
      # configure only external port, Namerd admin is exposed by this port 9991
        - "9991:9991"